@page "/subscriptions"
@using Domain.Subscriptions.DTOs
@using Application.Subscriptions
@using Domain.Subscriptions.Entities
@using Presentation.Core.Components

@inject ISubscriptionService SubscriptionService

@if (_loading)
{
    <h4 class="text-danger">Loading proyects :)</h4>
}
else
{
    <MudTable Items="@Elements.Take(4)" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Employer</MudTh>
            <MudTh>Subscription Name</MudTh>
            <MudTh>Cost</MudTh>
            <MudTh>Type</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Employer">@context.EmployerEmail</MudTd>
            <MudTd DataLabel="Subscription Name">@context.NameSubscription</MudTd>
            <MudTd DataLabel="Cost">@context.Cost</MudTd>
            <MudTd DataLabel="Type">@context.TypeSubscription</MudTd>
        </RowTemplate>
    </MudTable>
}


@code { 
    private bool _hidePosition;
    private bool _loading = true;
    private IEnumerable<SubscriptionDTO> Elements;

    protected override async Task OnInitializedAsync()
    {
        Elements = await SubscriptionService.GetAllSubscriptionsAsync();
        _loading = false;
    }
}
