@page "/projects"
@using Domain.Projects.DTOs
@using Application.Projects
@using Domain.Projects.Entities
@using Presentation.Core.Components

@inject IProjectService ProjectService

@if (_loading)
{
    <h4 class="text-danger">Loading proyects :)</h4>
}
else
{
    <MudTable Items="@Elements.Take(4)" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Project_Name</MudTh>
            <MudTh>Publication</MudTh>
            <MudTh>Group</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Project_Name">@context.Project_Name</MudTd>
            <MudTd DataLabel="Publication">@context.Publication</MudTd>
            <MudTd DataLabel="Group">@context.Group</MudTd>
        </RowTemplate>
    </MudTable>
}

@code { 
    private bool _hidePosition;
    private bool _loading = true;
    private IEnumerable<ProjectDTO> Elements;

    protected override async Task OnInitializedAsync()
    {
        Elements = await ProjectService.GetAllProjectsAsync();
        _loading = false;
    }
}