<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true"
        AdditionalAssemblies="@(new [] { typeof(MainLayout).Assembly })">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<MudThemeProvider Theme="MyCustomTheme" />
@code{
    private static string GreenPredominant = "#00695c";
    private static string celesteUCR = "#41ade7";
    private static string celesteUCR_Hover = "#13a4ca";
    private static string grisParrafo = "#808080";
    private static string White = "#FFFFFF";

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = White,
            Secondary = GreenPredominant,
            AppbarBackground = White,            
            AppbarText = White,
            DrawerBackground = GreenPredominant,
            DrawerText = White,
            DrawerIcon = GreenPredominant,  
            TextDisabled = White,
            
        }
    };
}