@inherits LayoutComponentBase
@using Presentation
@using Presentation.Authentication
@inject NavigationManager nav

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider />
<MudLayout id="banner">
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudSpacer />
        <AuthorizeView>
            <Authorized> 
                @{
                    userEmail = context.User.Identity.Name;
                }
                <MudSpacer />
                <MudSpacer />
                <MudLink Color="Color.Primary" Href="@($"/logout")"> Salir  
                </MudLink>
                <MudIconButton Icon="@Icons.Filled.Person" Size="Size.Large" Color="Color.Primary" OnClick="GoToProfile"></MudIconButton>
            </Authorized>
            <NotAuthorized>
                <MudSpacer />
                <MudSpacer />
                @*<MudLink Href="/Loggin" Color="Color.Primary">Ingresar</MudLink>
                <MudButton Disabled=true></MudButton>
                <MudLink Href="/Register_Form" Color="Color.Primary">Registrar</MudLink>*@
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Elevation="2" Width="300px">
        <AuthorizeView>
            <Authorized>
                <NavMenu email=@userEmail ></NavMenu>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
    </MudDrawer>
    <MudMainContent>
        <div style="padding: 2%;" class="container">
                @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    public string userEmail { get; set; } = "unknown";
    bool _loading = true;
    bool authenticationState = false;
    private bool _isDarkMode = true;

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    public void GoToProfile()
    {
        nav.NavigateTo($"/Profile/{userEmail}"); 
    }
}