@using Application.ContextMenu
@using  Presentation.Core.Components
@inject IContextMenuService ContextMenuService
@inject NavigationManager nav

<AuthorizeView Roles="Employer">
    <Authorized>
        @if (!ContextMenuService.GetShowProjectsMenu())
        { 
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@($"Projects/{email}") Match="NavLinkMatch.All">
                             <MudIconButton Icon="@Icons.Filled.BusinessCenter" Color="@Color.Secondary" Class="mr-2"/>
                            <span  aria-hidden="true"></span> Proyectos
                        </NavLink>
                    </li>
                </ul>
            </div>
        }
        else
        {
            string projectName = ContextMenuService.GetProjectsContext();
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@($"Projects/{email}") Match="NavLinkMatch.All">
                             <MudIconButton Icon="@Icons.Filled.BusinessCenter" Color="@Color.Secondary" Class="mr-2"/>
                            <span  aria-hidden="true"></span> Proyectos
                        </NavLink>
                    </li>

                     @if (!ContextMenuService.GetShowProjectsSubMenu())
                    {
                        <li class="nav-item px-3">   
                            <NavLink class="nav-link" Match="NavLinkMatch.All">
                                <MudIconButton Icon="@Icons.Filled.CardTravel" Color="@Color.Secondary" Class="mr-2"/>
                                <span  aria-hidden="true"></span> @projectName
                                <MudSpacer></MudSpacer>
                                <MudIconButton Size="Size.Medium" OnClick="ToggleProjectsSubMenu" Icon="@Icons.Material.Filled.ArrowDropUp" Color="Color.Secondary"></MudIconButton>
                            </NavLink>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item px-3">   
                            <NavLink class="nav-link" Match="NavLinkMatch.All">
                                <MudIconButton Icon="@Icons.Filled.CardTravel" Color="@Color.Secondary" Class="mr-2"/>
                                <span  aria-hidden="true"></span> @projectName
                                <MudSpacer></MudSpacer>
                                <MudIconButton Size="Size.Medium" OnClick="ToggleProjectsSubMenu" Icon="@Icons.Material.Filled.ArrowDropDown" Color="Color.Secondary"></MudIconButton>
                            </NavLink>
                        </li>

                        <li class="nav-item px-3">
                            <TabNavLink Icon="@Icons.Material.Filled.Assignment" href="@($"/Projects/{email}/{projectName}")" text="Detalles"></TabNavLink>
                        </li>

                        <li class="nav-item px-3">
                            <TabNavLink  Icon="@Icons.Filled.CreditScore" href="" text="Aprobar pagos"></TabNavLink>
                        </li>

                        <li class="nav-item px-3">
                            <TabNavLink  Icon="@Icons.Filled.Article" href="" text="Informes de pago"></TabNavLink>
                        </li>

                        <li class="nav-item px-3">  
                            <TabNavLink Icon="@Icons.Material.Filled.People" href="@($"/View_Project_Employees/{email}/{projectName}")" text="Empleados"></TabNavLink>
                        </li>

                        <li class="nav-item px-3">
                            <TabNavLink  Icon="@Icons.Material.Filled.CardGiftcard" href="@($"/Projects/{email}/{projectName}/Benefits")" text="Beneficios"></TabNavLink>
                        </li>

                        <li class="nav-item px-3">
                            <TabNavLink  Icon="@Icons.Material.Filled.CardMembership" href="@($"/Projects/{email}/{projectName}/Deductions")" text="Deducciones Voluntarias"></TabNavLink>
                        </li>
                       
                    }

                </ul>
            </div>
        }
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Employee">
    <Authorized>
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            @if (!ContextMenuService.GetShowProjectsMenu())
            { 
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@($"Projects/{email}") Match="NavLinkMatch.All">
                    <MudIconButton Icon="@Icons.Filled.BusinessCenter" Color="@Color.Secondary" Class="mr-2"/>
                    <span  aria-hidden="true"></span> Proyectos
                    </NavLink>
                </li>
            }
            else
            {
                string projectName = ContextMenuService.GetProjectsContext();
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@($"Projects/{email}") Match="NavLinkMatch.All">
                    <MudIconButton Icon="@Icons.Filled.BusinessCenter" Color="@Color.Secondary" Class="mr-2"/>
                    <span  aria-hidden="true"></span> Proyectos
                    </NavLink>
                </li>

                
                @if (!ContextMenuService.GetShowProjectsSubMenu())
                {
                    <li class="nav-item px-3">   
                        <NavLink class="nav-link" Match="NavLinkMatch.All">
                        <MudIconButton Icon="@Icons.Filled.CardTravel" Color="@Color.Secondary" Class="mr-2"/>
                        <span  aria-hidden="true"></span> @projectName
                        <MudSpacer></MudSpacer>
                        <MudIconButton Size="Size.Medium" OnClick="ToggleProjectsSubMenu" Icon="@Icons.Material.Filled.ArrowDropUp" Color="Color.Secondary"></MudIconButton>
                        </NavLink>
                    </li>
                }
                else
                {
                    <li class="nav-item px-3">   
                        <NavLink class="nav-link" Match="NavLinkMatch.All">
                        <MudIconButton Icon="@Icons.Filled.CardTravel" Color="@Color.Secondary" Class="mr-2"/>
                        <span  aria-hidden="true"></span> @projectName
                        <MudSpacer></MudSpacer>
                        <MudIconButton Size="Size.Medium" OnClick="ToggleProjectsSubMenu" Icon="@Icons.Material.Filled.ArrowDropDown" Color="Color.Secondary"></MudIconButton>
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                            <TabNavLink Icon="@Icons.Material.Filled.Assignment" href="@($"Projects/{email}/Wendy.ortizalfaro@ucr.ac.cr/{projectName}")" text="Detalles"></TabNavLink>
                    </li>

                    <li class="nav-item px-3">
                        <TabNavLink  Icon="@Icons.Filled.MoreTime" href="@($"/ReportHours/{"leonel@ucr.ac.cr"}/{email}")"  text="Reporte de horas"></TabNavLink>
                    </li>

                    <li class="nav-item px-3">
                        <TabNavLink  Icon="@Icons.Filled.Timer" href="@($"/Reported_Hours/{email}/")" text="Histórico de horas"></TabNavLink>
                    </li>

                    <li class="nav-item px-3">
                        <TabNavLink  Icon="@Icons.Filled.CreditCard" href="" text="Último pago"></TabNavLink>
                    </li>

                    <li class="nav-item px-3">
                            <TabNavLink  Icon="@Icons.Material.Filled.CardGiftcard" href="@($"/Projects/{email}/{projectName}/Benefits")" text="Beneficios"></TabNavLink>
                    </li>

                    <li class="nav-item px-3">
                        <TabNavLink  Icon="@Icons.Material.Filled.CardMembership" href="@($"/Projects/{email}/{projectName}/Deductions")" text="Deducciones Voluntarias"></TabNavLink>
                    </li>
                }
            }
        </ul>
    </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    [Parameter]
    public string email { get; set; }

    bool isExpanded { get; set; }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        ContextMenuService.SetOnChange(StateHasChanged);
    }

    private void ToggleProjectsSubMenu()
    {
        ContextMenuService.SetProjectsContext(ContextMenuService.GetShowProjectsMenu(), !ContextMenuService.GetShowProjectsSubMenu(), ContextMenuService.GetProjectsContext());
    }
}
