@using Application.ContextMenu
@using  Presentation.Core.Components
@inject IContextMenuService ContextMenuService
@inject NavigationManager nav

<AuthorizeView Roles="Employer">
    <Authorized>
        @if (!ContextMenuService.GetShowProjectsMenu())
        { 
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@("/") Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Inicio
                        </NavLink>
                    </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href=@($"Projects/{email}") Match="NavLinkMatch.All">
                                <span  aria-hidden="true"></span> Proyectos
                            </NavLink>
                        </li>
                </ul>
            </div>
        }
        else
        {
            string projectName = ContextMenuService.GetProjectsContext();
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@("/") Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Inicio
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@($"Projects/{email}") Match="NavLinkMatch.All">
                            <span  aria-hidden="true"></span> Proyectos
                        </NavLink>
                    </li>

            
                    @if (_isExpanded)
                    {
                        <li class="nav-item px-3">   
                        <NavLink class="nav-link" Match="NavLinkMatch.All">
                            <span  aria-hidden="true"></span> @projectName
                            <MudSpacer></MudSpacer>
                                <MudIconButton Size="Size.Medium"  @onclick="()=>_isExpanded = !_isExpanded" Icon="@Icons.Material.Filled.ArrowDropUp" Color="Color.Secondary"></MudIconButton>
                        </NavLink>
                        </li>
                        <li class="nav-item px-3">
                        <TabNavLink href="@($"Projects/{email}/{projectName}/Configurations")" text="Detalles"></TabNavLink>
                        </li>

                        <li class="nav-item px-3">
                        <TabNavLink href="@($"/View_Project_Employees/{email}/{projectName}")" text="Empleados"></TabNavLink>
                        </li>

                        <li class="nav-item px-3">
                        <TabNavLink href="@($"/Projects/{email}/{projectName}/Deductions")" text="Deducciones"></TabNavLink>
                        </li>

                        <li class="nav-item px-3">
                        <TabNavLink href="@($"/Projects/{email}/{projectName}/Benefits")" text="Beneficios"></TabNavLink>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item px-1">
                        </li>
                        <li class="nav-item px-3">   
                        <NavLink class="nav-link" Match="NavLinkMatch.All">
                            <span  aria-hidden="true"></span> @projectName
                            <MudSpacer></MudSpacer>
                            <MudIconButton @onclick="()=>_isExpanded = !_isExpanded"Size="Size.Medium" Icon="@Icons.Material.Filled.ArrowDropDown" Color="Color.Secondary"></MudIconButton>
                        </NavLink>
                        </li>
                
                    }
                </ul>
            </div>
        }
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Employee">
    <Authorized>
       @if (!ContextMenuService.GetShowProjectsMenu())
        { 
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@("/") Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Inicio
                        </NavLink>
                    </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href=@($"Projects/{email}") Match="NavLinkMatch.All">
                                <span  aria-hidden="true"></span> Proyectos
                            </NavLink>
                        </li>
                </ul>
            </div>
        }
        else
        {
            string projectName = ContextMenuService.GetProjectsContext();
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@("/") Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Inicio
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@($"Projects/{email}") Match="NavLinkMatch.All">
                            <span  aria-hidden="true"></span> Proyectos
                        </NavLink>
                    </li>

            
                    @if (_isExpanded)
                    {
                        <li class="nav-item px-3">   
                        <NavLink class="nav-link" Match="NavLinkMatch.All">
                            <span  aria-hidden="true"></span> @projectName
                            <MudSpacer></MudSpacer>
                                <MudIconButton Size="Size.Medium"  @onclick="()=>_isExpanded = !_isExpanded" Icon="@Icons.Material.Filled.ArrowDropUp" Color="Color.Secondary"></MudIconButton>
                        </NavLink>
                         </li>

                        <li class="nav-item px-3">
                        <TabNavLink href="@($"/Projects/ReportHours/{"leonel@ucr.ac.cr"}/{projectName}/{email}")" text="Reportar Horas"></TabNavLink>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item px-1">
                        </li>
                        <li class="nav-item px-3">   
                        <NavLink class="nav-link" Match="NavLinkMatch.All">
                            <span  aria-hidden="true"></span> @projectName
                            <MudSpacer></MudSpacer>
                            <MudIconButton @onclick="()=>_isExpanded = !_isExpanded"Size="Size.Medium" Icon="@Icons.Material.Filled.ArrowDropDown" Color="Color.Secondary"></MudIconButton>
                        </NavLink>
                        </li>
                
                    }
                </ul>
            </div>
        }
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;
    bool _isExpanded = true;

    [Parameter]
    public string email { get; set; }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        ContextMenuService.SetOnChange(StateHasChanged);
    }
}
